{% extends 'website/templates/base.html' %}

{% load widget_tweaks %}

{% block sidebar %}
{% endblock %}

{% block current %}
Call for Proposals
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-{% if user.is_authenticated %}6{% else %}8{% endif %}">
        <p>
            Thank You for your interest in presenting at SciPy India 2014.
            <br>We regret to inform you that we have closed the CFP for this year.
            <br>Stay tuned with us, the schedule for the conference will be up soon.
        </p>
        <h3 class="garmond">Important Dates</h3>
        <table class="table table-bordered">
            <tr>
                <td>Call for proposals ends</td>
                <td>25<sup>th</sup> &nbsp;&nbsp; Nov 2014</td>
            </tr>
            <tr>
                <td>List of accepted proposals will be published</td>
                <td>On or Before 28<sup>th</sup> Nov. 2014</td>
            </tr>
        </table>
    </div> <!-- /.col -->
    <div class="col-md-{% if user.is_authenticated %}6{% else %}4{% endif %}">
        {% if not request.user.is_authenticated %}
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
            </ul> <!-- /.nav-tabs -->
            
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="login">
                    <form id="login-form" action="" method="POST" role="form">{% csrf_token %}
                        <div id="non-field-errors">
                        </div>
                        <div id="wrap_id_username" class="form-group">
                            <label for="id_username">Username</label>
                            {% render_field login_form.username class+="form-control" %}
                        </div>
                        <div id="wrap_id_password" class="form-group">
                            <label for="id_username">Password</label>
                            {% render_field login_form.password class+="form-control" %}
                        </div>
                        <input id="login-submit" class="btn btn-default" type="submit" value="Login">
                    </form>
                </div>
            </div> <!-- /.tab-content -->
        {% else %}
        <div class="well">
            <span class="label label-default" href="#" id="welcome">Hello {{ request.user }}!</span>
            <a class="label label-primary" href="#" id="logout">Logout</a>
                <p>
                    CFP for SciPy India 2014 has been closed.
                    <br>We are reviewing the proposals received & will soon 
                    announce the list of selected abstracts.
                    <br>Stay tuned with us.
                </p>
        </div> <!-- /.well -->
        {% endif %}
    </div> <!-- /.col -->
</div> <!-- /.row -->
{% endblock %}
