{% extends 'website/templates/base.html' %}

{% block current %}
Contact Us
{% endblock %}

{% block content %}
<h3>Contact Us</h3>
<hr>

<p>Feel free to drop us a message regarding any of your queries.</p>

{% if mailsent %}
<p>Thank you for contacting us ! We will be reaching you out soon.</p>
{% endif %}

<form action="{% url 'website:testcontact' %}" method="POST" role="form">
{% csrf_token %}
    <label for="user_email">Your Email</label>
    <input name="user_email" id="user_email" type="text" class="form-control">
    <label for="user_name">Your Name</label>
    <input name="user_name" id="user_name" type="text" class="form-control">
    <label for="subject">Subject</label>
    <input name="subject" id="subject" type="text" class="form-control">
    <label for="message">Your Message</label><br>
    <textarea name="message" rows="4" cols="75"></textarea>
    <br><input class="btn btn-default" type="submit" value="Send"> 
</form>
{% endblock %}
