{% extends 'website/templates/base.html' %}

{% load widget_tweaks %}

{% block current %}
Contact Us
{% endblock %}

{% block content %}

{% if mailsent %}
<p>Thank you for contacting us ! We will be reaching you out soon.</p>

{% else %}
<p>Feel free to drop us a message regarding any of your queries.</p>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <form id="contact" action="{% url 'website:contact' %}" method="POST" role="form">{% csrf_token %}
            <div class="form-group">
                <label for="id_username">Name:</label>
                {% render_field form.username class+='form-control' %}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="id_useremail">Email:</label>
                {% render_field form.useremail class+='form-control' %}
                {{ form.useremail.errors }}
            </div>
            <div class="form-group">
                <label for="id_subject">Subject:</label>
                {% render_field form.subject class+='form-control' %}
                {{ form.subject.errors }}
            </div>
            <div class="form-group">
                <label for="id_message">Message:</label>
                {% render_field form.message class+='form-control' %}
                {{ form.message.errors }}
            </div>
            <input class="btn btn-primary" type="submit" value="Send">
            </form>
    </div> <!-- /.col -->
</div> <!-- /.row -->

{% endif %}
{% endblock %}
