{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SciPy India 2014</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">
</head>
<body>
    <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="main-nav">
                <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar&#45;brand" href="#">Brand</a> -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <!--<li><a href="#">Call for papers</a></li>
                            <li><a href="#">Schedule</a></li>
                            <li><a href="#">Invited Speakers</a></li>
                            <li><a href="#">Sponsors</a></li-->
                            <li><a href="{% url 'website:papers' %}">Call for Papers</a></li>
                            <li><a href="{% url 'website:venue' %}">Venue</a></li>
                            <li><a href="{% url 'website:contact' %}">Contact Us</a></li-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'website:register' %}">Register</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>
            </div> <!-- /#main-nav -->
            <div id="header">
                <div id="stage">
                    <img id="scipy-logo" src="{% static 'website/images/scipy_india_logo.png' %}" width="50">
                    <h1 id="shout">Scipy India 2014</h1>
                    <h4 id="subtle">Dec. 5<sup>th</sup>, 6<sup>th</sup> and 7<sup>th</sup> IIT Bombay</h4>
                    <hr style="width:250px;">
                    <a class="btn btn-default" href="{% url 'website:register' %}">Register Now</a>
                    <!--a class="btn btn-default" href="#">Submit Paper</a-->
                </div>
            </div> <!-- /#header -->
        </div> <!-- /#header-wrapper -->
        
        <div id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div id="speakers">
                        <h4 class="garmond"><u>Speakers</u></h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="{% static 'website/images/maciej.png' %}">
                                    <div class="caption">
                                        Maciej Fijałkowski (<span class="garmond">Keynote</span>)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="{% static 'website/images/ajith.jpeg' %}">
                                    <div class="caption">
                                        Ajith Kumar
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading garmond">
                                        News and Updates
                                    </div>
                                    <div class="panel-body">
                                                <a class="twitter-timeline"  href="https://twitter.com/SciPyIndia" data-widget-id="404921110312910848">Tweets by @SciPyIndia</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
                                    </div> <!-- /.panel-body -->
                                </div>
                            </div><!-- col-md-6 -->
                        </div> <!-- /.row -->
                    </div> <!-- /#speakers -->
                    <hr> 
                    <div id="conference">
                        <h3 align="center" class="garmond"><u>Conference</u></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="garmond"><u>Scope of the conference</u></h4>
                                <p class="text-justify">
                                    SciPy India is a conference providing opportunities to spread the use of the Python programming language in the Scientific Computing community in India. It provides a unique opportunity to interact with the "Who's who" of the Python for Scientific Computing fraternity and learn, understand, participate, and contribute to Scientific Computing using Python. Attendees of the conference and participants of the sprints planned will be able to access and review the tools available. They will also be able to learn domain-specific applications and how the tools apply to a plethora of application problems. One of the goals of the conference is to combine education, engineering, and science with computing through the medium of Python. This conference also aims to spread the use of Python for Scientific Computing in various fields and among different communities.
SciPy India 2014 Organiser: FOSSEE   For more details visit: python.fossee.in, python.org
                                </p>
                                <hr>                              
                            </div>
                            <div class="col-md-6">
                                <div id="sponsors">
                                    <h4 class="garmond"><u>Sponsors</u></h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="http://fossee.in/" target="_blank">
                                            <img width="150" style="position:relative;top:25px;" src="{% static 'website/images/fossee-logo.png' %}">
                                            </a>
                                        </div>
                                        <!--div class="col-md-4">
                                            <a href="http://mhrd.gov.in/" target="_blank">
                                            <img width="150" src="{% static 'website/images/mhrd-logo.png' %}">
                                        </div-->
                                     </div>
                                </div> <!-- /#sponsors -->
                            </div><!-- col-md-6 -->
                            <div class="clearfix"></div>
                        </div> <!-- /.row -->
                    </div> <!-- /#conference-->
                    <hr> 
                </div><!-- /.container-fluid -->
            </div> <!-- /#content -->
        </div> <!-- /#content-wrapper -->
        
    </div> <!-- /#page-wrapper -->
    <div id="footer-wrapper">
        <div id="footer">
            <div class="pull-left">
                &copy; 2014 Scipy India.
            </div>
            <div class="pull-right">
                <i>Developed by</i> <a href="http://fossee.in" target="_blank">FOSSEE</a>
            </div>
            <div class="clearfix"></div>
        </div> <!-- /#footer -->
    </div> <!-- /#footer-wrapper -->

    <div id="social">
        <ul>
            <li><a href="https://www.facebook.com/scipydotin" target="_blank"><img src="{% static 'website/images/facebook.png' %}" alt="fb"></a></li>
            <li><a href="https://twitter.com/scipyindia" target="_blank"><img src="{% static 'website/images/twitter.png' %}" alt="tw"></a></li>
            <li><a href="https://plus.google.com/+ScipyIndia" target="_blank"><img src="{% static 'website/images/googleplus.png' %}" alt="gp"></a></li>
        </ul>
    </div> <!-- /#social -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'website/js/holder.js' %}"></script>
</body>
</html>
