{% load static %}
{% load compress %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SciPy India 2014</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico'%}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">
    <!-- style rules that require relative image paths -->
    <style>
        body { background-image: url("{% static 'website/images/ecailles.png' %}"); }
        #header{ background: url("{% static 'website/images/jumbo_bg.jpg' %}"); }
        #page-header { background: url("{% static 'website/images/jumbo_bg.jpg' %}"); }
    </style>
    {% endcompress %}
</head>
<body>
    <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="main-nav">
                <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar&#45;brand" href="#">Brand</a> -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'website:home'%}">Home</a></li>
                            <li class="{% active request 'call-for-proposals' %}"><a href="{% url 'website:call_for_proposals' %}">Call for Proposals</a></li>
                            <li class="{% active request 'schedule' %}"><a href="{% url 'website:schedule' %}">Schedule</a></li>
                            <li class="{% active request 'invited-speakers' %}"><a href="{% url 'website:invited_speakers' %}">Invited Speakers</a></li>
                            <li class="{% active request 'sponsors' %}"><a href="{% url 'website:sponsors' %}">Sponsors</a></li>
                            <li class="{% active request 'venue' %}"><a href="{% url 'website:venue' %}">Venue</a></li>
                            <li class="{% active request 'poster' %}"><a href="{% url 'website:poster' %}">Poster</a></li>
                            <li class="{% active request 'contact' %}"><a href="{% url 'website:contact' %}">Contact Us</a></li-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="{% active request 'register' %}"><a href="{% url 'website:register' %}">Register</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>
            </div> <!-- /#main-nav -->
            <div id="header">
                <div id="stage">
                    <img id="scipy-logo" src="{% static 'website/images/scipy_india_logo.png' %}" width="50">
                    <h1 id="shout">SciPy India 2014</h1>
                    <h4 id="subtle">Dec. 5<sup>th</sup>,  6<sup>th</sup> and 7<sup>th</sup> IIT Bombay</h4>
                    <hr style="width:250px;">
                    <a class="btn btn-default" href="{% url 'website:register' %}">Register Now</a> or
                    <a class="btn btn-default" href="{% url 'website:call_for_proposals' %}">Submit Proposal</a>
                </div>
            </div> <!-- /#header -->
        </div> <!-- /#header-wrapper -->
        
        <div id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div id="speakers">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="garmond" align="center"><u>Speakers</u></h4>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="thumbnail">
                                            <img src="{% static 'website/images/maciej-4.jpg' %}">
                                            <div class="caption">
                                                Maciej Fijałkowski <span class="garmond">(Keynote)</span>
                                                <hr>
                                                <div class="extras garmond">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bio">
                                                            <a href="{% url 'website:invited_speakers' %}">View Bio</a>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <a href="https://twitter.com/fijall" target="_blank">Twitter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.col -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="thumbnail">
                                            <img src="{% static 'website/images/ajith-4.jpg' %}">
                                            <div class="caption">
                                                Ajith Kumar <span class="garmond">(Keynote)</span>
                                                <hr>
                                                <div class="extras garmond">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bio">
                                                            <a href="{% url 'website:invited_speakers' %}">View Bio</a>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <a href="http://expeyes.in/" target="_blank">Website</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.col -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="thumbnail">
                                            <img src="{% static 'website/images/romain-4.jpg' %}">
                                            <div class="caption">
                                                Romain Guillebert <span class="garmond">(Invited)</span>
                                                <hr>
                                                <div class="extras garmond">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bio">
                                                            <a href="{% url 'website:invited_speakers' %}">View Bio</a>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <a href="https://twitter.com/rguillebert" target="_blank">Twitter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.col -->
                                </div> <!-- /.row -->
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </div> <!-- /#speakers -->
                    <hr> 
                    <div id="conference">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h4 class="garmond" align="center"><u>Scope of the conference</u></h4>
                                <p class="text-justify">
                                    SciPy India is a conference providing
                                    opportunities to spread the use of the
                                    Python programming language in the
                                    Scientific Computing community in India. It
                                    provides a unique opportunity to interact
                                    with the "Who's who" of the Python for
                                    Scientific Computing fraternity and learn,
                                    understand, participate, and contribute to
                                    Scientific Computing using Python.
                                    Attendees of the conference and
                                    participants of the sprints planned will be
                                    able to access and review the tools
                                    available. They will also be able to learn
                                    domain-specific applications and how the
                                    tools apply to a plethora of application
                                    problems. One of the goals of the
                                    conference is to combine education,
                                    engineering, and science with computing
                                    through the medium of Python. This
                                    conference also aims to spread the use of
                                    Python for Scientific Computing in various
                                    fields and among different communities.
                                </p>
                            </div> <!-- /.col -->
                            
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h4 class="garmond" align="center"><u>News and Updates</u></h4>
                                {% include 'website/templates/twitter-timeline.html' %}
                                <div class="clearfix"></div>
                            </div><!-- /.col -->
                            <div class="clearfix"></div>
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div id="dates">
                                    <h4 class="garmond" align="center"><u>Important Dates</u></h4>
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>25<sup>th</sup> &nbsp;&nbsp; Nov 2014</td>
                                            <td>Call for Proposals ends.</td>
                                        </tr>
                                        <tr>
                                            <td>1<sup>st</sup> &nbsp;&nbsp; Dec 2014</td>
                                            <td>Conference Registration ends.</td>
                                        </tr>
                                    </table>
                                </div> <!-- /#dates -->
                                <hr>
                                <p>
                                SciPy India 2014 Organiser: <a href="http://fossee.in" target="_blank">FOSSEE</a><br>
                                For more details visit: 
                                <a href="http://python.fossee.in" target="_blank">python.fossee.in</a>, 
                                <a href="http://python.org" target="_blank">python.org</a>
                                </p>
                                <p>
                                    <u class="garmond">Registration for the conference is now open.</u><br><br>
                                    <a href='http://scipyindia2014.doattend.com'><img src='http://doattend.com/assets/btnw-reg-now.png'/></a>
                                </p>
                            </div> <!-- /.col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div id="previous">
                                    <h4 class="garmond" align="center"><u>Previous Conference Websites</u></h4>
                                    <table class="table table-bordered">
                                        <tr>
                                            <td><a href="http://scipy.in/2013" target="_blank">SciPy India 2013</a></td>
                                            <td><a href="http://scipy.in/2013/schedule" target="_blank">Talks</a></td>
                                            <td><a href="https://plus.google.com/photos/+ScipyIndia/albums/5958662267241508465" target="_blank">Gallery</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://scipy.in/2012" target="_blank">SciPy India 2012</a></td>
                                            <td><a href="http://scipy.in/2012/talks/" target="_blank">Talks</a></td>
                                            <td><a href="https://plus.google.com/photos/+HardikGhaghada/albums/5830648864137819041" target="_blank">Gallery</a></td>
                                        </tr>
                                    </table>
                                </div> <!-- /#previous -->
                                <div class="clearfix"></div>
                                <div id="sponsors">
                                    <h4 class="garmond" align="center"><u>Sponsors</u></h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a href="http://fossee.in/" target="_blank">
                                                <img width="150" src="{% static 'website/images/fossee-logo.png' %}">
                                            </a>
                                        </div> <!-- /.col -->
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a href="http://mhrd.gov.in/" target="_blank">
                                                <img width="150" src="{% static 'website/images/mhrd-logo.png' %}">
                                            </a>
                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /#sponsors -->
                            </div> <!-- /.col -->
                            <div class="clearfix"></div>
                        </div> <!-- /.row -->
                    </div> <!-- /#conference-->
                </div><!-- /.container-fluid -->
            </div> <!-- /#content -->
        </div> <!-- /#content-wrapper -->
        
    </div> <!-- /#page-wrapper -->
    <div id="footer-wrapper">
        <div id="footer">
            <div class="pull-left">
                &copy; 2014 Scipy India.
            </div>
            <div class="pull-right">
                <i>Developed by</i> <a href="http://fossee.in" target="_blank">FOSSEE</a>
            </div>
            <div class="clearfix"></div>
        </div> <!-- /#footer -->
    </div> <!-- /#footer-wrapper -->

    <div id="social">
        <ul>
            <li><a href="https://www.facebook.com/scipydotin" target="_blank"><img src="{% static 'website/images/facebook.png' %}" alt="fb"></a></li>
            <li><a href="https://twitter.com/scipyindia" target="_blank"><img src="{% static 'website/images/twitter.png' %}" alt="tw"></a></li>
            <li><a href="https://plus.google.com/+ScipyIndia" target="_blank"><img src="{% static 'website/images/googleplus.png' %}" alt="gp"></a></li>
        </ul>
    </div> <!-- /#social -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55018143-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
