{% extends 'website/templates/base.html' %}
{% load static%}

{% block sidebar %}
{% endblock %}

{% block current %}
    Invited Speakers
{% endblock %}

{% block content %}
<div id="invited-speakers">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{% static 'website/images/ajith-4.jpg'%}" alt="Ajith Kumar">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Ajith Kumar</h4>
                    <p align="justify">
                        Dr. B. P. Ajith Kumar, a scientist working with the
                        <a href="http://www.iuac.res.in/" target="_blank">IUAC</a>.
                        His main area of work is development of
                        instrumentation for particle accelerators and associated
                        experiments, including radio-frequency accelerating
                        structures, control and data acquisition systems, digital
                        and radio frequency electronics modules. He initiated the
                        Phoenix / <a href="http://expeyes.in/" target="_blank">expEYES</a>
                        project. ExpEYES is currently the cheapest educational
                        system to teach science.
                    </p>
                    <p>
                        <em>Links:</em>
                        <a href="http://expeyes.in" target="_blank"><span class="label label-primary">Website</span></a>
                    </p>
                </div>
            </div> <!-- /.media -->
            <hr>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{% static 'website/images/romain-4.jpg'%}" alt="Romain Guillebert">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Romain Guillebert</h4>
                    <p align="justify">
                        Romain Guillebert holds a Bachelor of Science in Software
                        Development at IT Carlow (Ireland).  In 2010 he worked as a
                        software engineering intern at EDF Le Havre, he
                        participated in the 2011 Google Summer of Code on the PyPy
                        project.  At the médialab he is responsible of the software
                        side of the Trust project where he works on the analysis of
                        social behaviors in open-source communities.
                    </p>
                    <p>
                        <em>Links:</em>
                        <a href="https://github.com/rguillebert" target="_blank"><span class="label label-default">Github</span></a>
                        <a href="https://bitbucket.org/rguillebert" target="_blank"><span class="label label-primary">Bitbucket</span></a>
                        <a href="https://twitter.com/rguillebert" target="_blank"><span class="label label-info">Twitter</span></a>
                    </p>
                </div>
            </div> <!-- /.media -->
        </div> <!-- /.col -->
    </div><!-- /.row -->
</div> <!-- /#invited-speakers -->
{% endblock %}
