{% extends 'website/templates/base.html' %}
{% load static %}

{% block sidebar %}
{% endblock %}

{% block current %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="dates">
                <center><p>
                Online registration for the conference is now closed.
                <br>However, you can attend the conference through spot registrations
                </p></center>
                <h4 class="garmond" align="center"><u>Ticket Pricing</u></h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Regular Registration</td>
                        <td>1000.0 INR</td>
                    </tr>
                    <tr>
                        <td>Corporate Registration</td>
                        <td>1800.0 INR</td>
                    </tr>
                </table>
                <hr>
                <h4 class="garmond" align="center"><u>Addons</u></h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Accommodation</td>
                        <td>800.0 INR</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#teeModal">T-Shirt</a> (click to view the design)</td>
                        <td>250.0 INR</td>
                    </tr>
                </table>
            </div> <!-- /#dates -->
        </div> <!-- /.col -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4 class="garmond" align="center"><u>Ticket Details</u></h4>
            <p>
                <b>Regular Registration</b> is only for students & faculty members from any college/institutes. If you have opted for "Regular Registration", you will have to present your college/institutes ID card at the registration desk at the venue.
            </p>
            <p>
                <b>Corporate Registration</b> is for only for working professionals.
            </p>
            <hr>
            <p>
                <b>Accommodation</b> will be provided in IIT-B hostels on twin sharing basis from 4th evening to 8th morning &amp; will be based on availability for spot registrants.
            </p>
            <p>
                <b>Accommodation</b> or <b>T-Shirt</b> is not included in any of the registration tickets &amp; have to be purchased separately.
            </p>
            <hr>
            <h3 class="garmond" align="center"><u>NOTE                                                                                                                                                                                                                                                                                                                                  </u></h3>
            <p>
            If you are thinking to opt for spot registration we kindly request you to carry a copy of <a href="{% static 'website/docs/scipyspot.pdf' %}" target="_blank">this</a> ticket for passing security checks at the IIT-B gates.
            </p>
            <hr>
        </div> <!-- /.col -->
    </div><!-- /row -->

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="dates">
                <h4 class="garmond" align="center"><u>Important Dates</u></h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Registration Starts</td>
                        <td>22<sup>nd</sup> &nbsp;&nbsp; Sep. 2014</td>
                    </tr>
                    <tr>
                        <td>Registration Ends</td>
                        <td>1<sup>st</sup> &nbsp;&nbsp; Dec. 2014</td>
                    </tr>
                </table>
                <hr>
            </div> <!-- /#dates -->
        </div> <!-- /.col -->
    </div><!-- /row -->
    <div class="modal fade" id="teeModal" tabindex="-1" role="dialog" aria-labelledby="teeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="teeModalLabel">SciPy India 2014: T-Shirt Design</h4>
          </div>
          <div class="modal-body">
            <img width=570 height=520 src="{% static 'website/images/front.JPG' %}">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
