{% extends 'website/templates/base.html' %}

{% block sidebar %}
{% endblock %}

{% block current %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="dates">
                <h4 class="garmond" align="center"><u>Ticket Pricing</u></h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Regular Registration</td>
                        <td>800.0 INR</td>
                    </tr>
                    <tr>
                        <td>Corporate Registration</td>
                        <td>1500.0 INR</td>
                    </tr>
                </table>
                <hr>
                <h4 class="garmond" align="center"><u>Addons</u></h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Accommodation</td>
                        <td>800.0 INR</td>
                    </tr>
                    <tr>
                        <td>T-Shirt</td>
                        <td>250.0 INR</td>
                    </tr>
                </table>
                <p>If you already have the main tickets and just need to buy addons click <a href="https://scipyindia2014.doattend.com/get_addons" target="_blank">here</a>
            </div> <!-- /#dates -->
        </div> <!-- /.col -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4 class="garmond" align="center"><u>Ticket Details</u></h4>
            <p>
                <b>Regular Registration</b> is only for students & faculty members from any college/institutes. If you have opted for "Regular Registration", you will have to present your college/institutes ID card at the registration desk at the venue.
            </p>
            <p>
                <b>Corporate Registration</b> is for only for working professionals.
            </p>
            <hr>
            <p>
                <b>Accommodation</b> will be provided in IIT-B hostels on twin sharing basis from 4th evening to 8th morning.
            </p>
            <p>
                <b>Accommodation</b> or <b>T-Shirt</b> is not included in any of the registration tickets &amp; have to be purchased separately.
            </p>
            <hr>
        </div> <!-- /.col -->
    </div><!-- /row -->

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="dates">
                <h4 class="garmond" align="center"><u>Important Dates</u></h4>
                <table class="table table-bordered">
                    <tr>
                        <td>Registration Starts</td>
                        <td>22<sup>nd</sup> &nbsp;&nbsp; Sep. 2014</td>
                    </tr>
                    <tr>
                        <td>Registration Ends</td>
                        <td>1<sup>st</sup> &nbsp;&nbsp; Dec. 2014</td>
                    </tr>
                </table>
                <hr>
            </div> <!-- /#dates -->
        </div> <!-- /.col -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <br><br>
            <p>
                <u class="garmond">Registration for the conference is now open.</u><br><br>
                <a href='http://scipyindia2014.doattend.com'><img src='http://doattend.com/assets/btnw-reg-now.png'/></a>
            </p>
        </div> <!-- /.col -->
    </div><!-- /row -->
{% endblock %}
