{% extends 'website/templates/base.html' %}
{% load static %}

{% block current %}
Schedule
{% endblock %}

{% block content %}
<center><h3 class="garmond"><u>Schedule: SciPy India 2014</u></h3></center>
<hr>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Day 1 - Tutorials</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Day 2 - Tutorials</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Day 3 - Talks</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
    <table class="table table-bordered schedule" align="center">
        <th>Speaker
        <th>Title
        <th>Time
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>REGISTRATION / BREAKFAST</td>
            <td>8:30</td>
        </tr>
        <tr>
            <td>Organizers</td>
            <td>Installation/Setup</td>
            <td>9:30</td>
        </tr>
        <tr>
            <td>Prashant Agrawal</td>
            <td>Introduction to IPython</td>
            <td>10:15</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>BREAK</td>
            <td>11:15</td>
        </tr>
        <tr>
            <td>Prabhu Ramachandran & Jaidev Deshpande</td>
            <td>Basic NumPy + Matplotlib</td>
            <td>11:30</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>LUNCH</td>
            <td>13:00</td>
        </tr>
        <tr>
            <td>Jaidev Deshpande</td>
            <td>More NumPy & SciPy</td>
            <td>14:00</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>TEA BREAK</td>
            <td>16:00</td>
        </tr>
        <tr>
            <td>Dhruv Baldawa</td>
            <td>Python language basics for Scientists</td>
            <td>16:15</td>
        </tr>
        <tr>
            <td>Deepak Surti</td>
            <td>Mayavi</td>
            <td>17:15</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>END OF THE DAY</td>
            <td>18:00</td>
        </tr>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <table class="table table-bordered schedule" align="center">
        <th>Speaker
        <th>Title
        <th>Time
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>REGISTRATION / BREAKFAST</td>
            <td>8:30</td>
        </tr>
        <tr>
            <td>Chinmay Kanchi</td>
            <td>Data analysis with SciPy stack</td>
            <td>9:30</td>
        </tr>
        <tr>
            <td>Chinmay Kanchi</td>
            <td>Data analysis with SciPy stack</td>
            <td>11:10</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>LUNCH</td>
            <td>12:40</td>
        </tr>
        <tr>
            <td>Abhinash Panda</td>
            <td>Shogun Machine Learning</td>
            <td>11:30</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>TEA BREAK</td>
            <td>15:40</td>
        </tr>
        <tr>
            <td>Ramakrishna Reddy</td>
            <td>Build / Deploy</td>
            <td>16:00</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>END OF THE DAY</td>
            <td>18:00</td>
        </tr>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="messages">
    <table class="table table-bordered schedule" align="center">
        <th>Speaker
        <th>Title
        <th>Time
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>REGISTRATION / BREAKFAST</td>
            <td>8:30</td>
        </tr>
        <tr>
            <td>Prabhu Ramachandran</td>
            <td>Inauguration</td>
            <td>9:30</td>
        </tr>
        <tr style="background-color:#4D7865;color:white;">
            <td>Romain Guillebert</td>
            <td>Keynote</td>
            <td>9:40</td>
        </tr>
        <tr>
            <td>Jithin Bhagavathi</td>
            <td><a href="{% static 'uploads/jithinbp/attachment/abs.pdf' %}" target="_blank">Python Powered Scientific Instrumentation Tool</a></td>
            <td>10:40</td>
        </tr>
        <tr>
            <td>Prof. Kannan Moudgalya</td>
            <td>Invited Talk</td>
            <td>11:10</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>Break</td>
            <td>11:40</td>
        </tr>
        <tr>
            <td>Prof. D. B. Phatak</td>
            <td>Invited Talk</td>
            <td>11:50</td>
        </tr>
        <tr>
            <td>Subhrajit Dutta</td>
            <td><a href="{% static 'uploads/subhrajit/attachment/SciPy_proposal.pdf' %}" target="_blank">Open Steel Design And Graphics: A Python-Based FOSS</a></td>
            <td>12:20</td>
        </tr>
        <tr>
            <td>Sreeja Sankaran Nampoothri</td>
            <td><a href="{% static 'uploads/sreeja.sn7/attachment/sceneanalytics.odt.pdf' %}" target="_blank">Real Time Scene Analytics Using Python</a></td>
            <td>12:40</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>LUNCH</td>
            <td>12:55</td>
        </tr>
        
        <tr>
            <td>Neethu N J</td>
            <td><a href="{% static 'uploads/neemary/attachment/scipy%20methodology.pdf' %}" target="_blank">High Speed Real Time Biscuit Inspection System</a></td>
            <td>14:00</td>
        </tr>
        <tr style="background-color:#4D7865;color:white;">
            <td>Dr. Ajith Kumar</td>
            <td>Keynote</td>
            <td>14:15</td>
        </tr>
        <tr>
            <td>Melvin Chelli</td>
            <td><a href="{% static 'uploads/melzf1/attachment/expeyes.pdf' %}" target="_blank">Closed loop Control of A DC Motor using expEYES with Python</a></td>
            <td>15:00</td>
        </tr>
        <tr>
            <td>Ankur Ankan</td>
            <td><a href="{% static 'uploads/ankurankan/attachment/probabilistic_1.pdf' %}" target="_blank">Probabilistic Graphical Models using pgmpy</a></td>
            <td>15:20</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>TEA BREAK</td>
            <td>15:50</td>
        </tr>
        
        <tr>
            <td>Prof. Jayendran Venkateswaran</td>
            <td>PuLP / OR</td>
            <td>16:10</td>
        </tr>
        <tr>
            <td>Rakesh Hirur</td>
            <td><a href="{% static 'uploads/rockya/attachment/IITB_DOE.pdf' %}" target="_blank">Efficiency Model Based On Response Surface Methodology for A 3 Phase Induction Motor Using Python</a></td>
            <td>16:40</td>
        </tr>
        <tr>
            <td>Prof. Prabhu Ramachandran</td>
            <td>The FOSSEE project</td>
            <td>17:00</td>
        </tr>
        <tr>
            <td>Various</td>
            <td>Lightning Talks</td>
            <td>17:10</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>Closing</td>
            <td>17:40</td>
        </tr>
        <tr style="background-color:#238E68;color:white;">
            <td colspan=2>END OF THE DAY</td>
            <td>17:45</td>
        </tr>
    </table>
  </div>
</div>

</div>

{% endblock %}
