{% extends 'website/templates/base.html' %}
{% load static %}

{% block sidebar %}
{% endblock %}

{% block current %}
Venue
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="garmond"><em>Venue</em>: LCH <span class='num'>11</span>, Lecture Hall Complex, IIT Bombay, Powai, India.</h3>
        <p>
            <em> Links: </em>
            <a href="http://www.iitb.ac.in" target="_blank"><span class="label label-primary">IITB Website</span></a>
            <a href="{% static 'data/iitb_map.pdf' %}" target="_blank"><span class="label label-success">IITB Campus Map</span></a>
        </p>
        <hr>
        <h3 class="garmond">A quick guide on reaching IITB campus.</h3>
    </div> <!-- /.col -->
</div> <!-- /.row -->
<div id="reach-iitb"> 
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ul class="nav nav-pills nav-stacked text-left side-nav">
                <li class="active"><a id="venue" href="#"><small>Venue</small></a></li>
                <li><a id="airport" href="#"><small>Reaching from Airport</small></a></li>
                <li><a id="dadar" href="#"><small>Reaching from Dadar Station</small></a></li>
                <li><a id="thane" href="#"><small>Reaching from Thane Station</small></a></li>
                <li><a id="bandra" href="#"><small>Reaching from Bandra Terminus</small></a></li>
                <li><a id="tilak" href="#"><small>Reaching from Lokmanya Tilak Terminus</small></a></li>
                <li><a id="central" href="#"><small>Reaching from Mumbai Central</small></a></li>
                <li><a id="shivaji" href="#"><small>Reaching from Chatrapati Shivaji Terminus</small></a></li>
                <li id="fare">
                <h6>Transit Details: <span id="from">Main Venue</span></h6>
                <p id="description">
                   IIT Bombay campus is in Powai, which is an eastern suburb in North-Eastern part of Mumbai.
                   This guide will help you to reach IIT-B campus from various important destinations of Mumbai.
                   Click on any of the destinations listed above to know the transit details.
                </p>
                </li>
            </ul>
        </div> <!-- /.col -->
        
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div id="map">
                <img id="map-loader" src="{% static 'website/images/map-loader.gif' %}">
                <div id="mappy">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1884.7370444677179!2d72.91703983929293!3d19.130714113944165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7f4215f57bf%3A0xcf0c03ea45a113e1!2sLecture+Hall+Complex+(LHC)!5e0!3m2!1sen!2s!4v1415598677678" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div> <!-- /map -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
</div> <!--/#reach-iitb -->
{% endblock %}

{% block javascript %}
<script src="{% static 'website/js/venue.js'%}"></script>
{% endblock %}
