{% extends 'website/templates/base.html' %}

{% load widget_tweaks %}

{% block current %}
View Proposals
{% endblock %}


{% block content %}
    <a style="float:right;" href="{% url 'website:UserLogout' %}" class="btn btn-info">Logout</a>
    <br>
    <br>
    <table class="table table-bordered">
    <th width=50> Sr #
    <th>Title
    <th>Speaker
    {% for proposal in proposals %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            <a href="{% url 'website:abstract_details' proposal.id %}">{{ proposal.title }}</a>
        </td>
        <td>
            {{ proposal.user.first_name }} {{ proposal.user.last_name }}
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

